@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: 32px;
	font-family: 'Poppins', sans-serif;
	background-color: rgb(10 10 10);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: rgb(229 229 229) rgb(10 10 10);
}

*::-webkit-scrollbar {
	width: 4px;
}

*::-webkit-scrollbar-track {
	background: rgb(10 10 10);
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(229 229 229);
	width: 4px;
}
